# OpenRouter Configuration
OPENROUTER_API_KEY=
OPENROUTER_MODEL=

MISTRAL_API_KEY=
MISTRAL_MODEL=mistral-small-latest

MODEL_CONTEXT_WINDOW=256000
MAX_OUTPUT_TOKENS=4096
PROMPT_TOKEN_BUDGET=14600
TOKEN_ESTIMATION_RATIO=4.0


#TOP K chunk size
RETRIEVAL_TOP_K=10

# Exponential Decay Configuration
MEMORY_DECAY_FACTOR=0.8
MEMORY_DECAY_THRESHOLD=0.65

# Conversation Summarization Configuration
MAX_SUMMARY_LENGTH=300

# Weaviate Configuration
WEAVIATE_URL=http://localhost:8080
WEAVIATE_API_KEY=

DEBUG_MODE=true
VERBOSE_PROMPT_LOGGING=true

